# Binaries
*.exe
*.exe~
*.out
*.test
*.so
*.a
*.dll

# Build directories
bin/
obj/
build/

# Vendor directory
vendor/

# IDE and Editor files
*.swp
*.swo
*.DS_Store
*.vscode/
.idea/

# Go module files
go.sum

# Other temporary files
*.log
*.tmp
